level:
prod:
  postgresql:
    username:
    password:
    host:
    port:
    database:

  keycloak:
    url:
    realm:
    fullCertsPath:

test:
  postgresql:
    username:
    password:
    host:
    port:
    database:

  keycloak:
    url:
    realm:
    fullCertsPath:

dev:
  postgresql:
    username:
    password:
    host:
    port:
    database:

  keycloak:
    url:
    realm:
    fullCertsPath: